<h1>Create an Article</h1>

<%= form_for @article do |f| %>

  <%= render 'shared/errors', :object => f.object %>

  <%= render 'article_fields', :f => f %>

  <%= f.submit "Submit this Article" %>

<% end %>

<%= link_to 'View All Articles', articles_path %>