<h1>
  Article #<%= @article.id %>
</h1>

<h3>
  <%= @article.title %>
</h3>

<p>
  <%= @article.description %>
</p>

<%= link_to 'Edit this Article', edit_article_path(@article) %>
- <%= link_to 'See All Articles', articles_path %>